{% extends "frontend/base.html" %} {% load static %} {% block header %}
<title>Registration</title>
<link rel="stylesheet" href="{% static 'frontend/css/auth.css' %}" />
{% endblock header %} {% block content %}
<h2>Registration</h2>
<form id="registrationForm">
	{% csrf_token %}
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" required />

	<label for="email">Email:</label>
	<input type="email" id="email" name="email" required />

	<label for="password1">Password:</label>
	<input type="password" id="password1" name="password1" required />

	<label for="password2">Password confirm:</label>
	<input type="password" id="password2" name="password2" required />

	<button type="button" class="reg_but">Registration</button>
</form>

{% endblock content %} {% block js %}
<script type="module" src="{% static 'frontend/js/auth.js' %}"></script>
{% endblock js %}
